/* ----    LOGIN   ----*/


.login {
	position: absolute;
	top:50%;
	left:50%;
	width:400px;
	margin-left:-200px;
	height:500px;
	margin-top:-250px;
	border-radius: 15px;
	border: 8px outset #111111;
	background-color: rgba(11,11,59,1);
	padding:5px;
	-webkit-box-shadow: 0 10px 6px -6px #333;
	-moz-box-shadow: 0 10px 6px -6px #333;
	box-shadow: 15px 15px 5px -6px #333;
	color : white;
}

.login > img{
	width: 45%;
	height: 37%;
}

.login >form{
	display: flex;
	justify-content: center; 
	flex-wrap: wrap;
	align-content: space-around;
}

.login > form > a{
	margin: 20px;
}

.login > form > label > input{
	border-radius: 15px;
	padding-left: 5px;
}

.busqueda {
 	width: 40%;
 	height: 40px; 
 	padding-left: 15px;
 	border-radius: 15px;
}

.menu{
	border: 1px solid #aaaaaa;
	color: #2264FE
}

.menu >ul >li{
	border-bottom: 1px solid #2E64FE;

}

.anuncio{
	display: inline-flex;
	background-color: white;
	margin-left: 60px;
	margin-top: 15px;
	border-radius: 10px;
	border: 2px solid #bbbbbb;
}

.secciones{
	width: 130%;
	padding-top: 20px;
	padding-left: -10px;
}

.secciones > img {
	
}

.titulo{
	padding-left: 10px;
	font-size: 15px;
	color: #2E64FE
}

.detalles{
	padding-left: 10px;
	font-size: 12px;
	color: #000000
}

.direccion{
	padding-left: 10px;
	font-size: 11px;
	color: #bbbbbb
}

.link {
	padding-left: 10px;
	font-size: 11px;
	text-align: right;
}
