
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Raleway;
  background-color:white;
}

/***Menu***/
.menu{
  background-color:#F5F6F7;
  color:#0B2E61;
  font-family: Comfortaa;
  z-index:500;
  border-bottom:2px solid #0B2E61;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu img{
  float:left;
}

.lista-menu{
  float:left;
  text-align: right;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color:#0B2E61;
}

.lista-menu a{
  color:#D4652E;
  text-decoration: none;
  transition:1s;
}

.lista-menu a:hover{
    color:#0B2E61;
    transition:1s;
}

/**** Mapa inicial index****/
.header-mapa{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:2px solid #05567D;
}

.buscador{
  background-color: rgba(253,253,253,1);
  text-align: center;
  border-radius: 4px;
}

.titulo-buscador{
  font-size: 1.5em;
  text-align: center;
  margin:auto;
  display: block;
  color:#0B2E61;
}

.input-buscador{
  text-align: center;
  font-size: 1.1em;
  color:#595959;
}

.input-buscador:focus{
  outline: none;
  border:1px solid #0B2E61;
}

.input-buscador:active{
  border:1px solid orange;
}

/***Contenido***/
.contenido-inicio{
  background-color:white;
  z-index:-1;
}

.categorias{
  background-color:white;
  /*background-color: rgba(212,101,46,0.9);*/
  float:left;
}

.lista-categorias{
  margin:0;
  padding:0;
  list-style: none;
}

.lista-categorias a{
  transition: 0.4s;
  text-decoration: none;
  color:white;
}

.lista-categorias a:hover{
  transition: 0.4s;
  font-weight:bold;
}

.tarjetas{
 float:right;
 background-color: #FAFAFA;
 border-left:1px solid #E5E5E5;
}

.tarjeta-ind{
  float:left;
  background-color: white;
  border:1px solid #E9EBED;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.img-tarjeta{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-tarjeta img{
  float:left;
}

.desc-tarjeta{
  float:left;
}

.titulo-tarjeta{
  color: #0B2E61;
  margin:0;
  padding:0;
}

.servicios{
  font-size: 15px;
  color:grey;
  font-style: italic;
}

.subtitulo-tarjeta{
  color:#0B2E61;
  float:left;
  font-size:15px;
}

.texto-tarjeta{
  font-size:15px;
}

.botones-tarjeta{
  float: none;
}

.boton-naranja{
  background-color: #DB6830;
  border:none;
  color:white;
  transition: 0.2s;
}

.boton-naranja:hover{
  background-color:#CC612C;
  color:white;
  transition: 0.2s;
  cursor: pointer;
}

/*** Footer ***/
.footer{
  background-color: #45494C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoe-footer{
  float:left;
}

.logo-footer{
  margin: auto;
}

.link-footer{
  color:#BDBEBF;
  text-decoration:none;
  font-size:0.8em;
}

.link-footer:hover{
  color:white;
  float:none;
}

.subtitulo-footer{
  color:#BDBEBF;
  font-weight: bold;
}

.icon-social{
  float:left;
}

/****** Políticas *****/
.img-politicas{
  float: left;
}

.texto-cont{
  float: left;
}

.li-politicas{
  margin: 1% 0;
}

.politicas-texto{
  line-height:150%;
}

/******Elementos especiales*******/
.titulo-general{
  font-family: Raleway;
  text-align: center;
  color:#0B2E61;
}

.subtitulo-general{
  font-family: Raleway;
  text-align: left;
  color:#D4652E;
}


/******DISEÑO RESPONSIVO********/

/*Smartphones portrait y landscape*/
@media only screen and (min-device-width:320px) and (max-device-width:767px){
  /***Menu***/
  .menu{
    display: none;
  }

  /**** Mapa inicial index****/
  .header-mapa{
    height:100vh;
  }

  .contenido-header{
    position: absolute;
    margin:auto;
    z-index:100;
    width:80%;
  }

  #map {
    height: 100%;
    width: 100%;
  }

  .buscador{
    width:100%;
    height:40%;
    margin-right: 2%;
    padding:2% 2%;
  }

  .input-buscador{
    width:86%;
    height:25px;
    margin-right:5%;
    font-size: 1.1em;
    padding:1.5%;
  }

  .buscador .icon-buscar{
    width:5%;
  }

  .logo-buscador{
    width:50%;
  }

  /***Contenido***/
    .categorias{
    display: none;
  }

  .tarjetas{
   width:98%;
   margin: auto;
   height:100%;
   float:left;
   padding:2%;
  }

  .tarjeta-ind{
    width:90%;
    padding:2% 2%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .img-tarjeta{
    height:100%;
    width:25%;
  }

  .img-tarjeta img{
    width:100%;
    float:left;
  }

  .desc-tarjeta{
    width:71%;
    padding:2%;
    float:left;
  }


  .texto-tarjeta{
    margin-left:2%;
    font-size:15px;
  }

  .botones-tarjeta{
    width:100%;
    float: none;
  }

  .boton-naranja{
    padding:2% 4%;
    transition: 0.2s;
    width:80%;
  }

  /*** Footer ***/

  .footer{
    width:100%;
    padding:2% 0%;
  }

  .infoe-footer{
    width:20%;
    margin:0 2%;
    float:left;
  }

  .logo-footer{
    width:60%;
    margin: auto;
  }

  .icon-social{
    width:12%;
    margin: 0 5%;
    float:left;
  }
}



/*Tablets landscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /***Menu***/
  .menu{
    position: static;
    width:92%;
    height:7%;
    padding:0.5% 4%;
    z-index:500;
  }

  .menu img{
    width:10%;
    float:left;
  }

  .lista-menu{
    width:90%;
    float:left;
    text-align: right;
    font-size: 14px;
  }


  /**** Mapa inicial index****/
  .header-mapa{
    height:96%;
  }

  .contenido-header{
    position: absolute;
    margin:auto;
    z-index:100;
    color:white;
    width:100%;
  }

  #map {
    height: 100%;
    width: 100%;
  }

  .buscador{
    width:30%;
    height:40%;
    float:right;
    margin-right: 2%;
    padding:2% 2%;
  }

  .titulo-buscador{
    font-size: 1.5em;
    width:100%;
    text-align: center;
    margin:auto;
    display: block;
    color:#0B2E61;
  }

  .input-buscador{
    width:86%;
    height:25px;
    margin-right:5%;
    text-align: center;
    font-size: 1.1em;
    color:#595959;
    padding:1.5%;
  }

  .buscador .icon-buscar{
    width:5%;
  }

  .logo-buscador{
    width:50%;
  }

  /***Contenido***/
  .contenido-inicio{
    width:100%;
    z-index:-1;
  }

  .categorias{
    width:10%;
    padding:2%;
    height:100%;
  }

  .lista-categorias{
    margin:0;
    padding:0;
    list-style: none;
  }

  .lista-categorias li p img{
    width:20%;
    padding-right:5%;
  }

  .tarjetas{
   width:82%;
   height:100%;
   float:left;
   padding:2%;
  }

  .tarjeta-ind{
    width:45%;
    padding:2% 1%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .img-tarjeta{
    height:100%;
    width:25%;
  }

  .img-tarjeta img{
    width:100%;
    float:left;
  }

  .desc-tarjeta{
    width:71%;
    padding:2%;
    float:left;
  }

  .subtitulo-tarjeta{
    margin-right: 2%;
    font-size:15px;
  }

  .texto-tarjeta{
    margin-left:2%;
    font-size:15px;
  }

  .botones-tarjeta{
    width:100%;
    float: none;
  }

  .boton-naranja{
    padding:2% 4%;
    transition: 0.2s;
  }

  /*** Footer ***/

  .footer{
    width:100%;
    padding:2% 0%;
  }

  .infoe-footer{
    width:20%;
    margin:0 2%;
    float:left;
  }

  .logo-footer{
    width:60%;
    margin: auto;
  }

  .link-footer{
    text-decoration:none;
    font-size:0.8em;
  }

  .icon-social{
    width:12%;
    margin: 0 5%;
    float:left;
  }
}

/*Tablets portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /***Menu***/
  .menu{
    position: static;
    width:92%;
    height:7%;
    padding:0.5% 4%;
  }

  .menu img{
    width:10%;
    float:left;
  }

  .lista-menu{
    width:90%;
    float:left;
    text-align: right;
    font-size: 14px;
  }


  /**** Mapa inicial index****/
  .header-mapa{
    height:96%;
  }

  .contenido-header{
    position: absolute;
    margin:auto;
    z-index:100;
    width:100%;
  }

  #map {
    height: 100%;
    width: 100%;
  }

  .buscador{
    width:30%;
    height:40%;
    float:right;
    margin-right: 2%;
    padding:2% 2%;
  }

  .titulo-buscador{
    font-size: 1.5em;
    width:100%;
    display: block;
  }

  .input-buscador{
    width:86%;
    height:25px;
    margin-right:5%;
    font-size: 1.1em;
    padding:1.5%;
  }

  .input-buscador:active{
    border:1px solid orange;
  }

  .buscador .icon-buscar{
    width:5%;
  }

  .logo-buscador{
    width:50%;
  }

  /***Contenido***/
  .contenido-inicio{
    width:100%;
  }

  .categorias{
    width:10%;
    padding:2%;
    height:100%;
    float:left;
  }

  .lista-categorias{
    margin:0;
    padding:0;
    list-style: none;
  }

  .lista-categorias a{
    transition: 0.4s;
    text-decoration: none;
    color:black;
  }

  .lista-categorias a:hover{
    transition: 0.4s;
    font-weight:bold;
  }

  .lista-categorias li p img{
    width:20%;
    padding-right:5%;
  }

  .tarjetas{
   width:80%;
   height:100%;
   float:left;
   padding:2%;
  }

  .tarjeta-ind{
    width:45%;
    padding:2% 1%;
    margin-left: 2%;
    margin-bottom: 2%;
  }

  .img-tarjeta{
    height:100%;
    width:25%;
  }

  .img-tarjeta img{
    width:100%;
    float:left;
  }

  .desc-tarjeta{
    width:71%;
    padding:2%;
    float:left;
  }

  .subtitulo-tarjeta{
    margin-right: 2%;
    font-size:15px;
  }

  .texto-tarjeta{
    margin-left:2%;
    font-size:15px;
  }

  .botones-tarjeta{
    width:100%;
    float: none;
  }

  /*** Footer ***/

  .footer{
    width:100%;
    padding:2% 0%;
  }

  .infoe-footer{
    width:20%;
    margin:0 2%;
    float:left;
  }

  .logo-footer{
    width:60%;
    margin: auto;
  }

  .icon-social{
    width:12%;
    margin: 0 5%;
    float:left;
  }
}

/*Desktops y laptops*/
@media only screen and (min-width : 1025px) {
  /***Menu***/
  .menu{
    width:92%;
    height:6%;
    padding:0.5% 4%;

  }

  .menu img{
    width:13%;
  }

  .lista-menu{
    width:85%;
    font-size: 14px;
  }


  /**** Mapa inicial index****/
  .header-mapa{
    height:60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .contenido-header{
    position: absolute;
    margin:auto;
    z-index:100;
    width:30%;
  }

  #map {
    height: 100%;
    width: 100%;
  }

  .buscador{
    width:100%;
    height:40%;
    float:right;
    margin-right: 2%;
    padding:9% 4%;
  }

  .titulo-buscador{
    font-size: 1.5em;
    width:100%;
  }

  .input-buscador{
    width:86%;
    height:25px;
    margin-right:5%;
    font-size: 1.1em;
    padding:1.5%;
  }

  .buscador .icon-buscar{
    width:5%;
  }

  .logo-buscador{
    width:50%;
  }

  /***Contenido***/
  .contenido-inicio{
    width:100%;
    height:100%;
    z-index:-1;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  .categorias{
    width:15%;
    padding:2%;
    height:100%;
    float:left;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  .lista-categorias{
    margin:0;
    padding:0;
  }

  .lista-categorias li p img{
    width:20%;
    padding-right:5%;
  }

  .tarjetas{
    height:100%;
   float:left;
   padding:2%;
   width:85%;
   box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
  }

  .tarjeta-ind{
    width:47%;
    padding:2% 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    height:230px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
  }

  .img-tarjeta{
    height:100%;
    width:25%;
  }

  .img-tarjeta img{
    width:100%;
    float:left;
  }

  .desc-tarjeta{
    width:71%;
    padding:2%;
    float:left;
  }

  .titulo-tarjeta{
    margin:0;
    padding:0;
  }

  .servicios{
    font-size: 15px;
  }

  .subtitulo-tarjeta{
    margin-right: 2%;
    font-size:15px;
  }

  .texto-tarjeta{
    margin-left:2%;
    font-size:15px;
  }

  .botones-tarjeta{
    width:100%;
    float: none;
  }

  .boton-naranja{
    padding:2% 4%;
    transition: 0.2s;
  }

  /*** Footer ***/

  .footer{
    width:100%;
    padding:2% 0%;
  }

  .infoe-footer{
    width:20%;
    margin:0 2%;
    float:left;
  }

  .logo-footer{
    width:60%;
    margin: auto;
  }

  .link-footer{
    font-size:0.8em;
  }

  .icon-social{
    width:12%;
    margin: 0 5%;
    float:left;
  }

  /****** Políticas *****/
  .contenido-politicas{
    min-height:70%;
    margin-top: 5% ;
  }

  .img-politicas{
    width:20%;
    padding:2%;
  }

  .texto-cont{
    width:70%;
    padding:2%;
    margin-bottom: 5%;
  }
}

/*Large screens*/
@media only screen and (min-width : 1824px) {

}
